body {
  width: 80%;
  margin: auto;
  padding: 0;
  border: 1px solid black;
  background-color: yellow;
}
header {
  background-color: brown;
  height: 40px;
  text-align: center;
}
footer {
  background-color: brown;
  height: 40px;
  text-align: center;
}

.milieu {
  margin: 0%;
  text-align: center;
  height: 150px;
}

section {
  background-color: rgb(221, 153, 70);
  height: 200px;
}
nav {
  height: 15px;
  background-color: rgb(116, 99, 131);
  height: 20px;
}
